$footer-color: #181818;

footer{
    margin: 0 auto;
    width:100%;
    background: $footer-color !important;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(222, 220, 220)
}

.global-footer-color{
    background: $footer-color;
}