<div *ngIf="posts">
    <mat-card class="example-card" *ngFor="let post of posts">
        <mat-card-header>
          <mat-card-subtitle>Posted by: {{post.author}} on: {{post.created}}</mat-card-subtitle>
          <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ post.content }}</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
          
</div>